body{
    margin: 0;
}


h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}
p{
    font-size: 16px;
}
a{
    text-decoration: none;
    font-size: 18px;
    
}
span{
    color: brown;
    font-weight: 700;
}
strong{
    color: chocolate;
}
#my_profile{
    margin-bottom: 50px;
}
.w-50{
    width: 40%;
    float: left;
    height: 80%;
    margin-left: 5% ;
}
.w-50 img{
    width: 100%;
}
.my_button{
    padding: 15px 20px;
    background-color: aquamarine;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}